<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="optimizely" value="https://api.nuget.optimizely.com/v3/index.json" />
    <!-- 'platina-dlwr' source is only used to push packages and not restore. 
          Package source only mentioned in config so that GitHub 'setup-dotnet' action can bootstrap nuget source authentication. So we can publish to a private nuget source.
    -->
    <add key="platina-dlwr" value="https://pkgs.dev.azure.com/platina-dlwr/_packaging/platina-dlwr/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="optimizely">
      <package pattern="*" />
    </packageSource>
    <packageSource key="platina-dlwr">
      <package pattern="Dlw.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>